.rowC{
    padding-top: 150px;
    display:flex; 
    max-height: 506px;
    flex-direction:row; 
    background-color: #242525;
  }

.label{
    padding-left: 0px;
    font-size: 17px;
}

.tooltip{
  background-color: #242525;
}

.box {
  background-color: #242525;
}
