.rowC{
    padding-top: 0px;
    display:flex; 
    flex-direction:row;
    background:#242525;
    
  }

.label{
    padding-left: 0px;
    font-size: 20px;border: 1px solid #242525;
    border-radius: 0px;
    padding: 0px;
}

.box {
  background-color: #242525;
  border-color: #242525;
  
}

.table{
  
  background-color: #242525;
}