.backing {
  background-color: '#3A3B3B';
  background:#3A3B3B;
  padding-left: 0px;
}


.rowC{
  padding-top: 0px;
  display:flex; 
  height: 100%;
  flex-direction:row; 
  background-color: '#3A3B3B';
  background:#3A3B3B;
  padding-left: 0px;
}