.canvas {
  margin: 0;
  background-color: #3A3B3B;
  width: auto;
  
}

.header {
  color:grey;
  text-align: center;
  font-size: 50px;
}


.entry {
  align-content: center;
  text-align: center;
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  background-color: #3A3B3B;
  text-align: center;
  color: #3A3B3B;
}